<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <link rel = "stylesheet" href="style.css">
  <title> My Form </title>
</head>

<body>
    <script src = "index.js"></script>
  <header>
    <h1>Blood Bank Database</h1>
  </header>
  <h2>Add Person</h2>
  <form action="/add_person" method="post">
    <label for="pid">PID:</label>
    <input type="number" id="pid" name="pid" required><br><br>
    
    <label for="gender">Gender:</label>
    <input type="text" id="gender" name="gender" required><br><br>
    
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required><br><br>
    
    <label for="blood_grp">Blood Group:</label>
    <input type="text" id="blood_grp" name="blood_grp" required><br><br>
    
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="fname" required><br><br>
    
    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="lname" required><br><br>
    
    <label for="city">City:</label>
    <input type="text" id="city" name="city" required><br><br>
    
    <label for="pin_code">Pin Code:</label>
    <input type="text" id="pin_code" name="pin_code" required><br><br>
    
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br><br>
    
    <label for="eid">EID:</label>
    <input type="number" id="eid" name="eid" required><br><br>
    
    <button type ="submit">Submit</button>
</form>

<h2>Add Donor(Trigger-1)</h2>
<form action="/add_donor" method="POST">
    <label for="pid">Person ID (pid):</label><br>
    <input type="number" id="pid" name="pid"><br>
    
    <label for="quantity_don">Quantity Donated:</label><br>
    <input type="number" id="quantity_don" name="quantity_don"><br>
    
    <button type ="submit">Submit</button>
</form>

<h2>Add Recipient(Trigger-2)</h2>
    <form action="/add_recipient" method="POST">
        <label for="pid">Patient ID (PID):</label>
        <input type="number" id="pid" name="pid" required><br><br>

        <label for="curr_disease">Current Disease:</label>
        <input type="text" id="curr_disease" name="curr_disease" required><br><br>

        <button type ="submit">Submit</button>
</form>

<h2>Add Report(Trigger-3)</h2>

<form action="/addbloodreport" method="POST">
    <label for="rid">RID:</label>
    <input type="number" id="rid" name="rid" required><br><br>

    <label for="wbc">White Blood Cell Count (WBC):</label>
    <input type="text" id="wbc" name="wbc" required><br><br>

    <label for="rbc">Red Blood Cell Count (RBC):</label>
    <input type="text" id="rbc" name="rbc" required><br><br>

    <label for="haemoglobin">Haemoglobin:</label>
    <input type="text" id="haemoglobin" name="haemoglobin" required><br><br>

    <label for="blood_grp">Blood Group:</label>
    <input type="text" id="blood_grp" name="blood_grp" required><br><br>

    <label for="stid">Stock ID (STID):</label>
    <input type="number" id="stid" name="stid" required><br><br>

    <label for="pid">Patient ID (PID):</label>
    <input type="number" id="pid" name="pid" required><br><br>

    <button type ="submit">Submit</button>
</form>
  
<h2>Search by RBC, WBC and Haemoglobin(Procedure-1)</h2>
    <form action="/searchbycomp" method="GET">
        <label for="rbc">RBC (Red Blood Cell Count):</label><br>
        <input type="number" id="rbc" name="rbc" min="0" required><br>
        
        <label for="wbc">WBC (White Blood Cell Count):</label><br>
        <input type="number" id="wbc" name="wbc" min="0" required><br>
        
        <label for="haemoglobin">Haemoglobin:</label><br>
        <input type="number" id="haemoglobin" name="haemoglobin" min="0" required><br>
        
        <button type ="submit">Submit</button>
    </form>

<h2>Search Blood Donors(Procedure-2)</h2>
    <form action="/searchbycity" method="GET">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br><br>

        <label for="blood_grp">Blood Group:</label>
        <input type="text" id="blood_grp" name="blood_grp" required><br><br>

        <button type ="submit">Submit</button>
    </form>


    <!-- <form action="/view" method="get">
    <fieldset>
      <h3>View details</h3>
      <label>ID</label>
      <input type="number" id="id" name="id" required>
      <br><br>
      <button type ="submit">Submit</button>
      <br><br><br>
    </fieldset>
  </form> -->
 
  <footer>
    <hr>
    <h4>Drop by drop, you can make the difference</h4>
  </footer>
  <script src="api.js"></script>
 </body>
</html>